/* Common styles */
body, h1, h2, h3, p, ul, li, div {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: gray;
    color: #333;
    font-size: 15px;
}

header {
    background-color: #1bd8e6;
    color: #fff;
    padding: 20px;
}

header h1 {
    margin: 0;
    font-size: 36px;
    line-height: 50px;
}

nav ul {
    list-style-type: none;
    text-align: right;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

h2 {
    margin: 20px;
    font-weight: bold;
    color: white;
}

.logo {
    width: auto;
    height: 60px;
}

.opis {
    margin: 20px;
    color: white;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
    background-color: white;
    color: black;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 15px;
    text-align: center;
}

th {
    background-color: #1bd8e6;
    color: white;
}

hr {
    margin: 20px;
    border: 1px solid black;
}

footer {
    padding: 20px;
    background-color: rgb(36, 35, 43);
    color: white;
    margin: 0px 10px 10px 10px;
}

.socialno {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}

.socialno img {
    width: 40px;
    height: 40px;
}

.facebook:hover img, .instagram:hover img, .twitter:hover img, .linkedin:hover img {
    filter: brightness(50%);
}

.kontakt {
    text-align: center;
}

.kontakt li {
    text-align: center;
    justify-content: center;
    list-style-type: none;
}

/* Media query for phones */
@media only screen and (max-width: 600px) {
    header h1 {
        font-size: 24px;
        line-height: 40px;
    }

    nav ul {
        text-align: center;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    h2 {
        margin: 10px;
        font-size: 20px;
    }

    .opis {
        margin: 10px;
        font-size: 14px;
    }

    table {
        width: 100%;
    }

    th, td {
        padding: 10px;
    }
}
